{% extends 'base.html' %}
{% block title %}cancellation page{% endblock %}
{% load static %}
    {% block extra_css %}
    {{ block.super }}
    <style>
        body {
            line-height: 1.8; /* Added line spacing */
            color: black;
 

        }
        .cancellation-content { 
            margin: 50px;
            padding-left: 20px; /* Move content to the right */
        }
        .cancellation-content h2, .cancellation-content h3 {
            text-align: left; margin-left: 30px; /* Align headings to the left */
        }
        .cancellation-content p {
            margin-left: 30px; /* Move paragraphs slightly to the right */
        }
    </style>
    
    {% endblock %}
    {% block content %}
    {{ block.super }}
     {% endblock %}

{% block content2  %}
<div class="cancellation-content">
<h2>Return and Cancellation Policy</h2>
<h3>Return Policy</h3>


<p>All food items are non-returnable due to hygiene and consumable nature of the product.</p>

<p>However, in the unlikely event of damaged, defective or different item delivered to you, we will provide a full refund or free replacement as applicable.We may contact you to ascertain the damage or defect in the product prior to issuing refund/replacement.</p>


<p>All non edible items are eligible for free replacement, within 10 days of delivery, in an unlikely event of damaged, defective or different item delivered to you. Please keep the item in its original condition for a successful return pick-up. Yaar absorbs the courier cost to return the product only if its damaged, defective or different item delivered. We may contact you to ascertain the damage or defect in the product prior to issuing refund/replacement.</p>



<h3>Cancellation Policy</h3>


<p>For Cancellations of orders, please call us @ 94886 74103 or email us to support@yaar.co.in in with order number and your contact number.</p>


<p>Order will be cancelled, and full refund will be issued back to your original payment method, if we receive the request within one business day.</p>



<h3>Refund Policy</h3>


<p>We will try our best to send pack and send the products as intact as possible. In case, if the product gets damaged or lost during transit, we will do full refund for the order.</p>


<p>If paid by credit card, refunds will be issued to the original credit card provided at the time of purchase and in case of payment gateway name payments refund will be made to the same account.</p>
</div>
{% endblock %}